.container {
  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (max-width: $tablet-width-max) {
    max-width: $tablet-width-max;
    padding: 0 35px;
  }

  @media (max-width: $mobile-width-max) {
    max-width: $mobile-width-max;
    padding: 0 14px;
  }
}
