.main h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: $color-grayhard;
  text-align: center;

  @media (max-width: $tablet-width-max) {
    font-size: 24px;
  }
}
